
<html>
    <head>
        <title>My blog here</title>
    </head>
    <body>
        <h1>You see what I just did?</h1>
        <h2><em>Yep, dat waz me</em></h2>
        <p>Hey there!</p> 
        <p>It works!</p>
        <p><strong>Fo <br />s<be />h<br />i<br />zzle</strong></p>
        <a href='https://www.pythonanywhere.com/user/VictorG4/webapps/#tab_id_victorg4_pythonanywhere_com'>Here's de text you click to activate dis link</a>
        
    </body>

    <div>
        <p>just publish som text here</p>
        <h3><em><a href=''>yet have </a><strong>no clue</strong> what dis div function does</em></h3>
    </div>

    <div>
        <ul><li>Is dis list? I dunno if it works yet</li><li>I really hope it does</li><li> what do you think?</li></ul>
    
</html>